body{
    background-color: rgba(223, 223, 223, 0.459);
 }
 table{
     background-color: rgba(130, 215, 255, 0.24);
     /* padding: 1rem; */
     align-items: center;
     border-radius: .5rem;
     

 }
 button{
     margin: .5rem;
     padding: .5rem;
     background-color: rgba(253, 132, 95, 0.452);
     border: none;
     border-radius: .3rem;
 }
 button:hover{
     background-color:rgb(7, 7, 7) ;
     color: azure;
     
 }
